<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Menu Principal</title>
    <meta name="author" content="Gabrielle">
    <link rel="icon" href="imagens/hogwarts.png">

    <!-- Responsivo -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap  -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Css interno -->
    <link rel="stylesheet" href="css/pedido.css">

    <!-- Icones decorativos-->
    <script src="https://kit.fontawesome.com/63cd9f4730.js"></script>

</head>

<body>
    <div class="Titulo">
        <h3>
            Cadastro Pedido
        </h3>
    </div>
    <main class="principal">
        <div class="row justify-content-center mb-5">
            <div class="col-sm-12 col-md-10 col-lg-8">
                <form>
                    <div class="form-row">
                        <div class="form-group col-sm-3">

                            <label for="inputNome">Número Pedido</label>
                            <input type="text" name="nome" class="form-control" id="inputNome" placeholder="Nome" required>

                        </div>
                        <div class="form-group col-sm-4" id="cpf">
                            <label for="inputCpf"> CPF </label>
                            <input type="Text" class="form-control" name="cpf" id="inputCpf" placeholder="CPF" required>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </main>
</body>