body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.centered {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form {
    box-shadow: 11px 10px 13px -8px rgba(0, 0, 0, 0.75);
}

.login img {
    height: 90px;
    margin: auto;
    display: flex;
}

.login {
    background: #D3D3D3;
    padding: 20px;
    width: 400px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50);
}

#botao {
    left: 75%;
}